<!doctype html>
<html>
	<head>
		<title>Follow my travel</title>
	</head>
	<body>
		<h1>Follow my travel APP</h1>
		<div id="root"></div>
		{{#each assets.scripts as |script|}}
			<script src="{{script}}"></script>
		{{/each}}
	</body>
</html>